html body{
    background-color:var(--bg);
}

.aboutMain {
    padding: 105px 60px 0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.aboutSection {
    width:50vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:left;
}


.aboutSection h2 {
    color: var(--text);
    font-weight:700;
    margin-bottom: 20px;
    text-align: center;
}

.aboutSection p, .aboutSection li{
    color: var(--text);
    font-size:16px;
    font-weight:100;
}

/* circular thingy */
.sectionHeaderContainer {
    display:flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    height: 170px;
}

.aboutSectionHeader {
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    cursor: pointer;
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
    transform-origin: center;
}

.transitioning {
    pointer-events: none;
}

.aboutLeftHeader {
    transform: translateX(-200px) translateY(-50px);
    transform-origin: center;
    transition: transform 0.5s ease;
    opacity:0.5;
}

.aboutLeftHeader:hover {
    transform: scale(1.05) translateX(-200px) translateY(-50px);
    transform-origin: center;
}


.aboutMainHeader {
    transform: translateY(20px) scale(1.2);
        transition: transform 0.5s ease;
}

.aboutRightHeader {
    transform: translateX(200px) translateY(-50px);
    transform-origin: center;
    transition: transform 0.5s ease;
    opacity:0.5;
}

.aboutRightHeader:hover {
    transform: scale(1.05) translateX(200px) translateY(-50px);
    transform-origin: center;
}

.aboutLeftHeader h2, .aboutRightHeader h2 {
    font-size:25px;
}

.aboutMainHeader h2 {
    font-size: 40px;
    white-space: nowrap;
}


/* responsiveness */
@media only screen and (max-width: 1200px) {

    .aboutLeftHeader h2, .aboutRightHeader h2 {
        font-size:25px;
    }

    .aboutMainHeader h2 {
        font-size: 40px;
    }

    .sectionHeaderContainer {
        height: 150px;
    }

    .aboutSection p, .aboutSection li{
        font-size:14px;
    }

}


@media only screen and (max-width: 768px) {

    .aboutLeftHeader h2, .aboutRightHeader h2 {
        font-size:20px;
    }

    .aboutMainHeader h2 {
        font-size: 30px;
    }

    .aboutSection p, .aboutSection li{
        font-size:12px;
    }

    .aboutSection {
        width:75vw;
    }

    .aboutRightHeader {
        transform: translateX(140px) translateY(-30px);
    }

    .aboutRightHeader:hover {
        transform: scale(1.05) translateX(140px) translateY(-30px);
    }

    .aboutLeftHeader {
        transform: translateX(-140px) translateY(-30px);
    }

    .aboutLeftHeader:hover {
        transform: scale(1.05) translateX(-140px) translateY(-30px);
    }

}

@media only screen and (max-width: 450px) {

    .aboutLeftHeader h2, .aboutRightHeader h2 {
        font-size:15px;
    }

    .aboutMainHeader h2 {
        font-size: 25px;
    }

    .aboutSection p, .aboutSection li{
        font-size:10px;
    }

    .aboutSection {
        width:75vw;
    }

    .aboutRightHeader {
        transform: translateX(110px) translateY(-30px);
    }

    .aboutRightHeader:hover {
        transform: scale(1.05) translateX(110px) translateY(-30px);
    }

    .aboutLeftHeader {
        transform: translateX(-110px) translateY(-30px);
    }

    .aboutLeftHeader:hover {
        transform: scale(1.05) translateX(-110px) translateY(-30px);
    }

}
