/* remove scrollbar */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

.mainContent {
    height: 200vh;
}

/* top nav bar section */
.topNav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 20px;
    align-items: center;
    justify-content: center;
    z-index:2;
}

.topLine:first-child {
    margin-left:40px; 
}

.topLine:last-child {
    margin-right:40px;
}

.topLine {
    display: flex;
    flex-grow: 1;
    height: 1px;
    background-color: var(--line);
    max-width: 200px;
    margin: 0 20px;
}

.topMoon {
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 0 15px;
    font-size:23px;
    cursor: pointer;
}

.topMoon {
    font-size: 30px;
}

/* top screen content */
.topMain {
    z-index: 1;
    display: flex;
    flex-direction:column-reverse;
    align-items:center;
    justify-content: center;
    background-color: var(--bg);
    height:100vh;
    width:100%;
    position: relative;
    padding: 0 0 100px 0;
}

.row {
    display:flex;
    flex-direction:row-reverse;
    padding: 0 4vw;
    align-items:center;
}

.topMainText {
    color: var(--text);
}

.topMainText h1 {
    font-weight: 800;
    font-size: 60px;
    margin: 0;
    margin-top: -12px;
    text-wrap-mode: nowrap;
}

.topMainText h2 {
    padding-top:50px;
    font-weight: 500;
    font-size: 35px;
    margin: 0;
}

.topMainText p {
    font-weight: 400;
    font-size: 25px;
    margin-top: 35px;
    line-height: 34px;
}

.logoImageContainer {
    display:flex;
    justify-content:center;
}

.logoImageWrapper {
    pointer-events: none;
    position:relative;
    border-radius:40%;
}

.logoImage {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
    border-radius:50%;
    width:540px;
    z-index:2;
    transition: transform 0.3s ease-in-out;
}

.logoImage:hover {
    transform: scale(1.05);
}

/* bounce animation on logo click */
.logoImage.bounce {
    animation: bounce 0.3s ease-out;
}

/* bounce animation */
@keyframes bounce {
    0% { transform: scale(1.05); }
    20% { transform: scale(1.04); }
    60% { transform: scale(1.06); }
    100%{ transform: scale(1.05); } 
}

.socialNavContainer{
    display:flex;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index:5;
    transition: transform 1.5s ease 0.25s, opacity 0.7s ease 1.2s;
    transform: translateY(0);
}

.socialNavContainer.active{
    transform: translateY(calc(-100vh + 350px));
    opacity: 75%;
}

.socialLinks {
    display: flex;
    flex-direction:column;
    align-items:center;
    height:100%;
}

.socialLinks .vertLine {
    display: flex;
    flex-grow: 1;
    width: 1px;
    background-color: var(--line);
    height: 300px;
    margin: 10px;
    transition: height 1.4s ease 0.45s;
}

.vertLine.active {
    height:200px;
}

.socialGit, .socialLinkedin {
    font-size: 30px;
}


.socialLinks a {
    color: var(--text);
}

/* bottom curve thing */
.curveDivider {
    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
    height:130px;
}

.curveDivider svg {
    display: block;
    width: 100%;
    height: 150px;    
  }

.arrow {
    display:flex;
    position: absolute;
    top: 60px;
    flex-direction: column;
    align-items:center;
    color: var(--text);
    width:100%
}
.arrowText p {
    font-weight: 700;
    font-size: 20px;
    margin:0;
    margin-bottom:-10px;
}

.arrowSymbol {
    cursor: pointer;
}
/* slide animation */
.slide {
    position: fixed;
    top:calc(100% - 130px);
    width:100%;
    transition: transform 1.1s ease;
    z-index:3;
}

.slide.active {
    transform: translateY(-100vh);
}

/* bottom main content */
.bottomMain {
    background-color: var(--secondary);
    height: 100vh;
    width:100%;
}

.bottomLinkContainer {
    height:100%;
    display:flex;
    align-items:end;
}

.bottomLinks {
    display:flex;
    flex-direction:column;
    margin: 0 0 40px 30px;
}

.bottomLinks p {
    color: var(--text);
    margin: 0;
    font-size: 15px;
    font-weight:600;
    margin-bottom:11px;
    
}

.bottomLinks h2 {
    color: var(--text);
    margin: 0;
    font-size: 100px;
    font-weight:10;
}

.bottomLinks a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity:85%;
    transform-origin: left center;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* if there is a link being hovered, make the rest of the links do this */
.bottomLinks:has(a:hover) a {
    opacity: 0.5;
    transform: scale(0.95);
}

/* the one actually being hovered needs to overwrite this */
.bottomLinks a:hover{
    opacity:100% !important;
    transform: scale(1.1) !important;
}

/* message generation stuff */
.messageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:50%;
    pointer-events: none;
    z-index:-1;
    overflow: visible;
}

.floatingMessage {
    position: absolute;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    opacity: 0;
    top: 50%;
    left: 50%;
    animation: popOut 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform-origin: center;
}

/* animation to make it look like the text is popping out after generation */
@keyframes popOut {
    0% {
        transform: translate(-50%, -50%) scale(0.5) rotate(0deg);
        opacity: 0;
    }
    10% {
        transform: translate(calc(-50% + var(--x) * 0.3), calc(-50% + var(--y) * 0.3)) scale(1) rotate(0deg);
        opacity: 1;
    }
    60% {
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) rotate(calc(var(--rotation)));
        opacity: 0.6;
    }
    100% {
        transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) rotate(calc(var(--rotation)));
        opacity: 0;
    }
}

/* responsiveness */
@media only screen and (max-width: 1200px) {
    .logoImage {
        width:480px;
    }
}

@media only screen and (max-width: 992px) {
    .topMainText h1 {
        font-size: 45px;
    }
    
    .topMainText h2 {
        font-size:25px;
    }

    .topMainText p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 25px;
    }

    .logoImage {
        width: 360px;
    }

    .bottomLinks p {
        font-size: 10px;
    }
    
    .bottomLinks h2 {
        font-size: 70px;
    }

    .floatingMessage {
        font-size: 30px;
    }

}

@media only screen and (max-width: 768px) {
    .topMainText h1 {
        font-size: 35px;
        margin-top: -5px;
    }

    .topMainText h1, .topMainText h2, .topMainText p {
        text-align:center;
    }

    .bottomLinkContainer {
        height:120%;
        display:flex;
        align-items:center;
    }

    .bottomLinks {
        width: 100%;
        align-items: center;
        margin-left: 0;
    }

    .bottomLinks p {
        font-size: 10px;
    }
    
    .bottomLinks h2 {
        font-size: 70px;
    }

    .bottomLinks a {
        transform-origin: center;
    }

    .vertLine {
        height:50px !important;
        transition: height 1.1s ease 0.25s;
    }

    .vertLine.active {
        height:200px !important;
    }

    @media only screen and (max-height: 850px) {
        .logoImage {
            width: 240px;
        }

        .topMainText h2 {
            padding-top: 10px;
        }
    }
}

@media only screen and (max-height: 650px) and (min-width: 786px){
    .logoImage {
        width: 360px;
    }
}

/* entry animation */
.enterAnim{
    opacity:0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    pointer-events: none;
}

.enterAnim.visible {
    opacity: 1;
    pointer-events: auto;
}

