.globalTopNav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 20px;
    align-items: center;
    justify-content: center;
    z-index:5;
    margin-bottom: 40px;
    padding: 0 70px;
}

.globalTopLine {
    display: flex;
    flex-grow: 1;
    height: 1px;
    background-color: var(--line);
    max-width: 200px;
    margin: 0 20px;
}

.globalTopMoon {
    display: flex;
    align-items: center;
    color: var(--text);
    padding: 0 15px;
    font-size: 30px;  
    animation: moonSlightFloat 5s ease-in-out infinite; 
}

.globalTopMenu {
    position: fixed;
    right: 25px;
    color: var(--text);
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin:center;
    will-change: transform;
}

.globalTopMenu:hover {
    transform: scale(1.1);
}

.globalTopMoon i{
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin:center;
    will-change: transform;
}

.globalTopMoon i:hover{
    transform: scale(1.1);
}

@keyframes moonSlightFloat {
    0% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(5%)
    }

    100% {
        transform: translateY(-5%);
    }
}

