.globalOverlay {
    background-color: var(--transitionbg);
    position: fixed;
    height: 100vh;
    width: 0;
    top:0;
    left: 0;
    z-index: 5000;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: globalOverlayCover 0.8s ease forwards, globalOverlayUncover 1s ease forwards 1s;
    font-size: 20px;
}

.globalOverlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20h20M25 15l5 5-5 5' stroke='%23ffffff' stroke-width='7' fill='none'/%3E%3C/svg%3E");
    background-size: 120px 120px;
    opacity: 0.05; 
    animation: globalHalftoneAnim 5s linear infinite;
}

@keyframes globalOverlayCover {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes globalOverlayUncover {
    0% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}

@keyframes globalHalftoneAnim {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px 0;
    }
}

/* mode transition animation */
.overlay {
    position: fixed;
    height: 100vh;
    width: 0;
    top:0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: overlayCover 0.8s ease forwards, overlayUncover 1s ease forwards 1.5s;
    font-size: 20px;
}

.overlayIcon {
    position: fixed;
    opacity: 0;
    top: -100px;
    left: calc(50vw - 50px);
    font-size: 120px;
    animation: drop 1.4s cubic-bezier(.51,.01,.49,.99) forwards 0.4s;
}

/* halftone background on transition */
.overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(currentColor 20px, transparent 20px);
    background-size: 80px 80px;
    opacity: 0.05; 
    animation: halftoneAnim 5s linear infinite;
    z-index: -1;
}

@keyframes overlayCover {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes overlayUncover {
    0% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}

@keyframes drop {
    0% {
        transform: 0;
        opacity: 0;
    }
    35% {
        transform: translateY(52vh);
        opacity: 1;
    }
    55% {
        transform: translateY(49vh); 
    }
    75% {
        transform: translateY(51vh);
        opacity: 1;
    }
    100% {
        transform: translateY(58vh);
        opacity: 0;
    }
}

@keyframes halftoneAnim {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 150px -150px;
    }
}

/* no interaction screen */
.noInteraction {
    position: fixed;
    inset: 0;
    z-index: 20;
    background-color: transparent;
    pointer-events: all;
}