html body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --bg: #CBC3DB;
  --text: #190D21;
  --secondary: #F5F5E7;
  --line: #190D21;
  --transitionbg: #8d7d96;
  --projboxshadow: rgba(33, 31, 37, 0.5);
  --projbg: rgba(255, 255, 255, 0.1);
}

body.dark {
  --bg: #22261D;
  --text: #ECFFD3;
  --secondary: #080F08;
  --line: #ECFFD3;
  --transitionbg: rgb(23, 27, 23);
  --projboxshadow: rgba(0, 0, 0, 0.4);
  --projbg: rgba(0, 0, 0, 0.1);
}

